#container {
    background-color: teal;
    padding: 20px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
#bar-cover {
    height:500px;
}
#content {
    position: relative;
    width: 550px;
    height: 500px;
}
#game {
    outline: 1px solid lightblue;
    width: 500px;
    background-color: white;
    background-size: 100% 100%;
    height: 500px;
    float: left;
}
#game div {
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#game > div {
    display: inline-block;
}
#bar {
    height: 500px;
    width: 40px;
    background-color: #00FF00;
    display: inline-block;
    float: left;
    margin-left: 5px;
    position: relative;
    outline: 1px solid lightblue;
}
#bar > div {
    background-color: white;
    position: absolute;
    width: 100%;
}
.effect {
    width: 500px;   
    height: 500px;
    position: absolute;
}
.gameover {
    background-image: url('../img/gameover.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 100%;
    top: 0;
    left: 0;
}
.win {
    background-image: url('lsdsnake.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 100%;
    top: 0;
    left: 0;
}